# common
.idea
.git
.DS_Store
node_modules
package-lock.json

# cordova
plugins
platforms
typings

# frontle
.frontle/*
www/version/@/browser_modules

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json