<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.artifriends.frontle"
        version="1.0.2"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>Frontle</name>
    <description>The easiest multi-platform SPA framework</description>
    <author email="help@artifriends.com" href="https://artifriends.com">Artifriends, Inc.</author>
    <content src="index.html" />
    <access origin="*"/>
    <allow-navigation href="*" />
    <allow-intent href="app://*/*" />
    <allow-intent href="file:///*/*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" launch-external="yes"/>
    <allow-intent href="geo:*" />
    <allow-intent href="intent:*" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />

    <platform name="android">
        <allow-intent href="market:*" />

        <preference name="orientation" value="portrait"/>

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true"/>
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
            <activity android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustPan" />
        </edit-config>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="EnableViewportScale" value="true" />
        <preference name="KeyboardResize" value="false" />
        <preference name="orientation" value="portrait"/>
    </platform>

    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
</widget>
